<% include ../partials/header %>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-3">
			<div class="card">
				<img class="card-img-top img-thumbnail" src="<%= user.avatar %>" alt="user profile image">
				<div class="card-body">
					<h5 class="card-title"><%= user.firstName %> <%= user.lastName %></h5>
					<p class="card-text"><a href="mailto:<%= user.email %>"><%= user.email %></a></p>
				</div>
			</div>
		</div>
	</div>
</div>


<% include ../partials/footer %>